################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/os-task3-eltsovaad/v15/ipch/AutoPCH/997af5751d5ca594/LAB3.ipch
/.vs/os-task3-eltsovaad/v15/ipch/AutoPCH/914eb821efcec053/MAIN.ipch
/.vs/os-task3-eltsovaad/v15/ipch/AutoPCH/5c3ab61250f3be6d/SEMAPHORE.ipch
/.vs/os-task3-eltsovaad/v15/ipch/AutoPCH/167d07b36ec0a8ec/LAB3.ipch
/.vs/os-task3-eltsovaad/v15/ipch/AutoPCH/13554b2ad0aad195/CREATETHREAD.ipch
/.vs/os-task3-eltsovaad/v15/Browse.VC.opendb
/.vs/os-task3-eltsovaad/v15/Browse.VC.db
/.vs/os-task3-eltsovaad/v15/.suo
/.vs/launch.vs.json
/.vs/config/applicationhost.config
